.editor-container {
    width: 100%;
    height: 100%; /* Set height to 100% */
    flex-direction: column; /* Make it a column layout */
    display: flex;
  }
  
  .editor-custom {
    flex: 1;
    outline: none;
  }

  .editor {
    margin-top: 10px;
    font-size: 16px;
    color:var(--TextColor);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    outline: none;
    flex: 1;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-color: var(--softTextColor) transparent;
  }
  
  .editor-custom img {
    resize: both;
    overflow: auto;
    max-width: 50%;
    height: auto;
    display: block;
    margin:auto;
  }
.ProseMirror {
  padding: 10px;
  background: transparent;
  border-radius: 0 0 5px 5px;
  min-height: 100px;
}

.ProseMirror > * + * {
  margin-top: 0.75em;
}

.ProseMirror ul {
  padding: 0 2rem;
  list-style: disc !important;
}
.ProseMirror ol {
  padding: 0 2rem;
  list-style: decimal !important;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  line-height: 1.1;
}

.ProseMirror a {
  text-decoration: underline;
  color: var(--accent);
}



.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: 'JetBrainsMono', monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.ProseMirror code {
    color: #9a9a9a;
    padding: 0;
  background-color: var(--contrastBg);
  font-size: 0.8rem;
}

.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 3px solid #999999;
}

.ProseMirror hr {
  border: none;
  border-top: 3px solid #999999;
  margin: 2rem 0;
}



.tiptap .is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
