/*toolbar styling*/
.customToolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--bg);
  gap: 1rem;
  border-bottom: 1px solid var(--softBg); /* Add this line */
  /* position: fixed;
  z-index: 99999; */
}

.customToolbarBtn {
  background-color: var(--bg);
  color: var(--softTextColor);
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 0.5rem;
}

.customToolbarBtn:hover {
  background-color: var(
    --softBg
  ); /* Transparent background with a slight tint */
}

.customToolbarBtnActive {
  background-color: var(
    --softBg
  ); /* Transparent background with a slight tint */
  color: var(--softTextColor);
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 0.5rem;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
}
